.logo{
    padding: 10vh 0;
    text-align: center;
    margin: 0;
    font-family: Blanka;
    font-weight: 400;
    font-size: 72px;
    background: -webkit-linear-gradient(225deg, #038c7f 0%, #025959 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}