.missionsCard {
  display: flex;
  justify-content: space-between;
  margin: 0 3em !important;
  width: 100%;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.CategorieEtat{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap !important;
}
